<h1>Welcome to Tech Talent Store</h1>
<p>All of our
    <%= @brand_name %> products </p>
<div class="row">
    <% @products.each do |products| %>
        <div class="col-sm-6 col-md-4">
            <div class="well text-center">
                <% if products.image.url.nil? == false %>
                    <p>
                        <%= image_tag products.image.url, size: 250 %>
                    </p>
                    <% end %>
                        <h3><%= link_to products.name, products %></h3>
                        <p>
                            <%= number_to_currency products.price %>
                        </p>
                        <p>
                            <a href="#" data-toggle="modal" data-target="#myModal_<%= products.id %>">
					<span class="glyphicon glyphicon-plus"></span>QuickInfo
				</a>
                        </p>
            </div>
        </div>
        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->
        <!-- Modal -->
        <div class="modal fade" id="myModal_<%= products.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><%= products.name %></h4>
                    </div>
                    <div class="modal-body">
                        <%if products.image.url.nil? == false %>
                            <p>
                                <%= image_tag products.image.url, size: 150 %>
                            </p>
                            <% end %>
                                <p>Made by:
                                    <%= products.brand %>
                                </p>
                                <p>Rating:
                                    <%= products.rating %>
                                </p>
                                <p>Category:
                                    <%= products.category.name %>
                                </p>
                                <p>Description:
                                    <%= products.description %>
                                </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <!--         <button type="button" class="btn btn-primary">Save changes</button>
 -->
                    </div>
                </div>
            </div>
        </div>
        <% end %>
</div>